article {
    width: 320px;
    height: 550px;
    background: linear-gradient(180deg,#eca34e,rgba(238, 20, 165, 0.904))fixed;
    margin: 5% auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 129, 213, 0.925);
}
.title {
    width: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
}
.singer {
    text-align: center;
}
.icon {
    width: 200px;
    height: 200px;
    margin: 10px auto;
    background: url("../image/icon-test.png") no-repeat;
}

#box {
    border-radius: 15%;
    width: 200px;
    height: 140px;
    background: skyblue;
    position: fixed;
    top: 100px;
    left: -200px;
}		
#box li {
    margin-right: 6px;
    text-align: left;
}

#box span {
    border-radius: 15%;
    background: rgb(153, 0, 255);
    width: 80px;
    display: inline-block;
    position: absolute;
    left: 200px;			
    top: 40%;
    height: 50px;
    margin-top: -45px;
    text-align: center;
}


.lrc {
    width: 100%;
    height: 220px;
    margin: 10px auto;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.lrc p {
    line-height: 20px;
    font-size: 15px;
}

.note {
    position: absolute;
    width: 200px;
    margin-top: 50px;
    margin-left: 15%;
    border: #fdc6ff62 solid ;
    box-shadow: 0 0 8px rgba(255, 129, 213, 0.925);
    z-index:999; 
    background-color: #fff; 
    padding: 5px;
}

.content {
    position: relative;
}

.icon.rotate {
    -webkit-animation: rot 7s linear infinite;
    animation: rot 7s linear infinite;
}

@keyframes rot {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

